
//@layout-west:180px; @layout-north:60px; @layout-east:60px; @layout-south:60px; @layout-gap:6px;

@import "vars.less";

.grid-3x3-layout {
  display:grid;
  grid-template-columns: @layout-west  auto @layout-east;
  grid-template-rows:    @layout-north auto @layout-south;
  // grid-column-gap: @layout-gap;
  // grid-row-gap:    @layout-gap;
  grid-template-areas:
    "logo corp find"
    "tocs view side"
    "pref foot trak";
  justify-items:center;
  align-items:center;

}

.grid-logo { grid-area:logo; }
.grid-corp { grid-area:corp; }
.grid-find { grid-area:find; }
.grid-tocs { grid-area:tocs; }
.grid-view { grid-area:view; }
.grid-side { grid-area:side; }
.grid-pref { grid-area:pref; }
.grid-foot { grid-area:foot; }
.grid-trak { grid-area:trak; }